// Fonts
$font-family: "Gilroy", sans-serif !important;

// Colors


$white: #ffffff;
$black: #000000;
$primary: #24E1C3;
$black-171:#171717;
$pink-EB5: #EB53A2;
$pink-C06:#C062A0;
$pink-A77:#A77AAB;
$pink-E6A:#E6AB9F;
$blue-3B7: #3B7AE6;
$blue-4D3:#4D34BC;
$blue-56C:#56C1F9;
$blue-18A:#18ACFE;
$blue-629:#6293C0;
$blue-452:#452CC2;
$grey-D9D:#D9D9D9;
$grey-C0B:#C0BFBF;
$grey-7E7: #7E7E7E;
$grey-141:#141414;
$grey-2B2 :#2B2B2B;
$grey-2B2 :#2B2B2B;
$grey-5A5 :#5A5A5A;
$red-C06:#C06262;
$yellow-C0A:#C0AC62;
$yellow-CDA:#CDA169;
$green-24E:#24E1C3;
$white-F5F : #F5F5F5;
$grey-8D8:#8D8D8D;
$grey-F5F:#F5F5F5;
$grey-838 :#838383;

$white-1:rgba(252, 252, 252, 0.01);


$green-1:rgba(36, 225, 195, 0.471);
$black-1:rgba(23, 23, 23, 0.490);
$black-2:rgba(23, 23, 23, 1);
$black-3:rgba(0, 0, 0, 1);











